<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>TrayStorage View(EN)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>prefs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>traystorageen</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakaoc632865d33474ca842c85b4bb76c69d2</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.us.traystorage</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1014352638153-ujrmupt1pi52nh46vgkqvol8e6g8gl7n</string>
			</array>
		</dict>
	</array>
	<key>KAKAO_APP_KEY</key>
	<string>c632865d33474ca842c85b4bb76c69d2</string>
	<key>NFCReaderUsageDescription</key>
	<string>NFC Tag!</string>
	<key>com.apple.developer.nfc.readersession.formats</key>
	<array>
		<string>NDEF</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakaoc632865d33474ca842c85b4bb76c69d2</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>storylink</string>
		<string>kakaolink</string>
		<string>kakaotalk-4.5.0</string>
		<string>kakaotalk-5.9.7</string>
		<string>kakaostory-2.9.0</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
		<string>prefs</string>
		<string>traystorage</string>
		<string>kftc-bankpay</string>
		<string>ispmobile</string>
		<string>itms-apps</string>
		<string>hdcardappcardansimclick</string>
		<string>smhyundaiansimclick</string>
		<string>shinhan-sr-ansimclick</string>
		<string>smshinhanansimclick</string>
		<string>kb-acp</string>
		<string>mpocket.online.ansimclick</string>
		<string>ansimclickscard</string>
		<string>ansimclickipcollect</string>
		<string>vguardstart</string>
		<string>samsungpay</string>
		<string>scardcertiapp</string>
		<string>lottesmartpay</string>
		<string>lotteappcard</string>
		<string>cloudpay</string>
		<string>nhappvardansimclick</string>
		<string>nonghyupcardansimclick</string>
		<string>citispay</string>
		<string>citicardappkr</string>
		<string>citimobileapp</string>
		<string>kakaotalk</string>
		<string>payco</string>
		<string>twitter</string>
		<string>whatsapp</string>
		<string>wechat</string>
		<string>line</string>
		<string>instagram</string>
		<string>mqq</string>
		<string>vk</string>
		<string>mqq</string>
		<string>productpay</string>
		<string>localpay</string>
		<string>nmap</string>
		<string>googlechromes</string>
		<string>comgooglemaps</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Camera access is required to take document photos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Photo library access is required to save and attach document photos.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansCJKkr-Bold.otf</string>
		<string>NotoSansCJKkr-Medium.otf</string>
		<string>NotoSansCJKkr-Regular.otf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
</dict>
</plist>
